<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alvaro Conti - Portafolio</title>
  
  <!-- Carga de archivos estáticos -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="{% static 'core/css/fontello.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
</head>
<body>

<header>
  <div class="container">
    <!-- Logo, Nombre y Menú -->
    <div class="nav row rounded-top align-items-stretch justify-content-between">
      <!-- Nombre de usuario -->
      <div class="col-md-12 col-lg logo d-flex align-items-center justify-content-center justify-content-lg-start">
        <a class="nombre" href="{% url 'portfolio' %}">Alvaro Conti</a>
        <samp class="icono icon-dot"></samp>
        <p>Estudiante Ing. en sistemas de información</p>
      </div>
      <!-- Menú de navegación -->
      <nav class="col-md-12 col-lg-auto menu d-flex align-items-stretch flex-wrap flex-sm-nowrap">
        <a href="{% url 'portfolio' %}" class="c-1 d-flex align-items-center">
          <div class="d-flex flex-column text-center">
            <span>Portafolio</span>
            <i class="icono icon-briefcase"></i>
          </div>
        </a>
        <a href="{% url 'about' %}" class="c-2 d-flex align-items-center">
          <div class="d-flex flex-column text-center">
            <span>Acerca de</span>
            <i class="icono icon-user"></i>
          </div>
        </a>
        <a href="{% url 'contact' %}" class="c-3 d-flex align-items-center">
          <div class="d-flex flex-column text-center">
            <span>Contacto</span>
            <i class="icono icon-mail"></i>
          </div>
        </a>
        <a href="{% static 'core/Curriculum vitae Alvaro Conti.pdf' %}" download class="c-4 d-flex align-items-center btn btn-primary">
          <div class="d-flex flex-column text-center">
            <span>Descargar CV</span>
            <i class="fas fa-download"></i>
          </div>
        </a>
      </nav>
    </div>

    <!-- Slider -->
    {% block slider %} {% endblock %}
  </div>
</header>

<!-- Contenido -->
{% block content %} {% endblock %}

<!-- Pie de página -->
<footer>
  <div class="container">
    <div class="row redes-sociales justify-content-center">
      <div class="col-auto">
        <a href="https://www.instagram.com/alvaro.conti/" class="icono fab fa-instagram"></a>
        <a href="https://www.linkedin.com/in/alvaro-conti-b96b2b234/" class="icono fab fa-linkedin"></a>
        <a href="https://github.com/Alvaro0219" class="icono fab fa-github"></a>
      </div>
      <div class="col-12 text-center copyright">
        <samp>
          <p>Copyright &copy; <span id="current-year"></span> · Alvaro Conti (Ing. en sistemas de información)</p>
        </samp>
      </div>
    </div>
  </div>
</footer>

<script src="{% static 'core/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'core/js/popper.min.js' %}"></script>
<script src="{% static 'core/js/bootstrap.min.js' %}"></script>
<script src="{% static 'core/js/scripts.js' %}"></script>

<!-- Obtener el año actual -->
<script>
  document.getElementById('current-year').textContent = new Date().getFullYear();
</script>

</body>
</html>
