body {
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

header {
    margin-top: 30px;
}

header .nav {
    min-height: 80px;
    overflow: hidden;
    background-color: #007bff; /* Azul predominante */
}

/* Logo */
header .logo a,
header .logo samp,
header .logo p {
    font-size: 16px;
    display: inline-block;
    margin: 0;
    color: #ffffff; /* Texto blanco */
}

header .logo .nombre {
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
}

header .logo .icono {
    color: #bfbfbf;
}

header .logo p {
    color: #ffffff; /* Texto blanco */
}

/* Menú de navegación */
header .menu {
    padding: 0;
}

header .menu a {
    display: block;
    padding: 0 30px;
    text-decoration: none;
    color: #ffffff; /* Texto blanco */
    transition: background-color 0.3s; /* Agregamos una transición suave */
}

header .menu a div span {
    font-weight: 600;
    text-transform: uppercase;
}

/* Asignamos colores a los diferentes botones */
header .menu .c-1 {
    background-color: #b3e0ff; /* Azul claro */
}

header .menu .c-2 {
    background-color: #80ccff; /* Azul */
}

header .menu .c-3 {
    background-color: #4da6ff; /* Azul medio */
}

header .menu .c-4 {
    background-color: #1a75ff; /* Azul oscuro */
}

/* Cambiamos el color de fondo al pasar el ratón */
header .menu a:hover {
    background-color: #0056b3; /* Azul más oscuro */
}

/* Slider */
.slider {
    margin-bottom: 40px;
}

.slider .col {
    padding: 0;
}
.slider-image {
    max-width: 80%; /* Ajusta el ancho máximo según tu preferencia */
    height: auto; /* Mantener la proporción original */
    margin: auto; /* Centrar horizontalmente */
}

/* Portafolio */
.contenedor {
    background-color: #ffffff; /* Fondo blanco */
    border-top: 5px solid #0056b3; /* Azul más oscuro */
    padding: 0 20px;
}

.titulo {
    padding: 40px 0;
    text-align: center;
    color: #0056b3; /* Azul más oscuro */
    font-weight: 700; /* Negrita */
}

.title-project {
    padding: 10px 0;
    color: #0056b3; /* Azul más oscuro */
    font-weight: 700; /* Negrita */
}

.contenedor .projects .content-project .link-project {
    background-color: #47596c; /* Azul predominante */
    display: inline-block; /* Cambiado a inline-block */
    color: #ffffff; /* Texto blanco */
    text-align: center; /* Centrado */
    padding: 10px 20px; /* Agregado espacio alrededor del botón */
    margin-top: 10px; /* Agregado espacio entre proyectos */
    text-decoration: none; /* Quitada la subraya */
    width: auto; /* Ancho automático */
    max-width: 100%; /* Ancho máximo del 100% */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho */
}

.contenedor .projects .content-project .link-project:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el ratón */
}

.contenedor .projects .content-project {
    margin-bottom: 40px;
}

.contenedor .projects .content-project img {
    width: 100%; /* Asegura que las imágenes ocupen todo el ancho */
}

.contenedor .modal-dialog {
    margin: 0 auto;
    height: 100%;
    max-width: 1000px;
}

.contenedor .modal-content {
    width: auto;
}

/* Estilos para el formulario de contacto */

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.contact-form textarea {
    height: 100px;
}

.contact-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.contact-form .success-message {
    color: #28a745;
}

.contact-form .error-message {
    color: #dc3545;
}


/* Footer */
.redes-sociales {
    padding: 40px 0;
    margin-bottom: 40px;
    text-align: center;
}

.redes-sociales .icono {
    width: 80px;
    height: 80px;
    font-size: 40px;
    line-height: 80px;
    color: #ffffff; /* Texto blanco */
    text-align: center;
    background-color: #007bff; /* Azul predominante */
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    border-radius: 80px;
    transition: all .3s ease;
}

.redes-sociales .icono:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el ratón */
}

.redes-sociales .copyright {
    padding: 20px 0;
}

.redes-sociales .copyright samp p {
    font-family: 'Open Sans', sans-serif;
}

/* Estilos para el Contenido de Contacto */

.contacto-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contacto-item {
    text-align: center;
    margin-bottom: 40px; /* Espaciado inferior */
}

/* Estilos específicos para los iconos de contacto */
.phone-contact,
.mail-contact,
.whatsapp-contact {
    font-size: 48px; /* Tamaño de los iconos de contacto */
}

/* Media Queries */
/* Dispositivo lg */
@media screen and (max-width: 991px) {
    .logo {
        height: 76px;
    }
    .menu {
        min-height: 76px;
    }
    .menu a {
        width: 100%;
    }
    .menu a div {
        width: 100%;
    }
    .modal .modal-dialog {
        width: 90%;
    }
    .modal .modal-dialog .modal-content img {
        width: 100%;
    }
}

/* Dispositivo sm */
@media screen and (max-width: 575px) {
    header {
        margin-top: 0;
    }
    header .logo .nombre,
    header .logo p {
        font-size: 13px;
    }
    header .menu a {
        font-size: 14px;
    }
}
